version: '3.8'

services:
  # ----------------------------------------------------------------------------
  # Banco de Dados
  # ----------------------------------------------------------------------------
  db:
    image: mysql:8.0
    container_name: churn-db
    restart: always # Política de reinício para resiliência
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      # Otimização para economizar memória em dev
      - --performance-schema=OFF
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - churn-net
    ports:
      - "3306:3306"   # expõe a porta para o host (Beekeeper/DBeaver/Workbench)
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M

  # ----------------------------------------------------------------------------
  # API ChurnInsight
  # ----------------------------------------------------------------------------
  app:
    build: .
    container_name: churn-api
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy # Só inicia quando o banco estiver pronto
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${DB_NAME}?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SERVER_PORT: 10808
    ports:
      - "10808:10808" # Porta pública da API
    networks:
      - churn-net
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 1024M # 1GB RAM Max

networks:
  churn-net:
    driver: bridge

volumes:
  mysql_data: